<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="EnableLogging" value="true"/>
		<add key="LogFilePath" value="%APPDATA%\RC_Drag_Manager\app.log"/>
		<add key="LiveUpdateEnabled" value="true" />
		<add key="LiveUpdateUrl" value="https://stewmacrc.com/api/update" />
		<add key="ApiKey" value="86561451-e7cf-4c01-87f1-0ae7e34e26d0" />
		<!-- Optional: you can set a custom path; %APPDATA% will be expanded -->
		<!-- <add key="LogFilePath" value="%APPDATA%\RC_Drag_Manager\app.log" /> -->
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
